[user]
	email = dondecastro@gmail.com
	name = Don De Castro
[init]
	defaultbranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/ddecastro/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/ddecastro/.local/bin/gh auth git-credential
[pull]
	rebase = true
[credential]
	helper = store
[core]
	autcrlf = false
	eol = lf
